*{
    margin: 0;
    min-width: 70px;
    min-height: 53px;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.input{
    margin: 25px auto;
    margin-top: 20px;  
    display: flex;
    text-align: end;
    width: 35vw;
    height: 33px;
    font-size: 20px;
    margin-top: 70px;
}
.button{
    width: 9vw;
    height: 5vw;
    font-size: 20px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: white;
}
.fa{
    display: flex!important;
    justify-content: center;
    align-items: center;
}
.color-red{
    background-color: red;
}
@media screen and (max-width:768px){
    .input{
        min-width: 262px;
        min-height: 43px;
    }
}
    
